.staff {
  background-color: var(--secondary-bg-color);
}

.staff-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-left: -30px;
  margin-top: 50px;

  &__item {
    margin-left: 30px;

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    margin-top: 30px;
    
    @include font(500, 16px, 19px, 0.03em);
    text-transform: capitalize;
    text-align: center;
  }

  &__position {
    margin-top: 10px;

    @include font(400, 16px, 19px, 0.03em);
    text-transform: capitalize;
    text-align: center;
    color: var(--secondary-text-color);
  }
}