.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-bg-color);
  transform: scale(1) rotate(360deg);
  transition: transform var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);

    &.is-hidden {
      transform: scale(0) rotate(0deg);
      visibility: hidden;
      pointer-events: none;
    }
}
