.contact-form-call {
  display: block;
  text-align: center;

  @include font(700, 20px, 30px, 0.03em);  
}

.contact-form {
  margin-top: 12px;

  &__list {
    line-height: 0.01;
  }

  &__list-item:not(:first-child) {
    margin-top: 10px;
  }

  &__label-text {
    @include font(inherit, 12px, 14px, 0.01em);    
    color: var(--secondary-text-color);
  }

  &__input-wrapper {
    position: relative;

    display: block;
    margin-top: 4px;

    color: var(--accent-color);
  }

  &__input,
  &__message {
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--duration) var(--timing-function);
  }

  &__input {
    height: 40px;
    padding-left: 42px;
  }

  &__message {
    resize: none;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;

    &::placeholder {
      @include font(inherit, 12px, 14px, 0.01em);
      color: var(--placeholder-text-color);
    }
  }  

  &__input:focus,
  &__message:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--duration) var(--timing-function);

    .contact-form__input:focus + & {
      fill: var(--accent-color);
    }
  }  

  &__text-agreement {
    color: var(--accent-color);
  }

  &__checkbox-wrapper {
    margin-top: 20px;
  }
}

.contact-form__checkbox-label {  
  @extend %alignFlex;
  cursor: pointer;
  
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border-radius: 2px;

    background-image: url(../images/icons/checkbox-off-icon.svg);
    background-repeat: no-repeat;
  };

  & > .contact-form__label-text {
    margin-left: 7px;

    @include font(inherit, 12px, 14px, 0.03em);    
  }

  .contact-form__checkbox-input:checked + &::before {
    background-color: var(--accent-color);
    background-image: url(../images/icons/checkbox-on-icon.svg);
  }

  .contact-form__checkbox-input:focus + &::before {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }
}

.contact-form__submit-btn {
  display: block;
  min-width: 200px;
  padding: 10px 26px;
  margin-top: 30px;
  @extend %marginAuto;  

  @include font(700, 16px, 30px, 0.06em);  
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--btn-color-hover);
  }
}

// 0-480px

@media screen and (max-width: 479px) {  
  .contact-form__label-text { 
    width: 90%;    
  }
}





// .contact-form-call {
//   display: block;
//   text-align: center;

//   @include font(700, 20px, 23px, 0.03em);
// }

// .contact-form {
//   margin-top: 12px;

//   &__list {
//     line-height: 0.01;
//   }

//   &__list-item:not(:first-child) {
//     margin-top: 10px;
//   }

//   &__label-text {
//     @include font(inherit, 12px, 14px, 0.01em);
//     color: var(--secondary-text-color);
//   }

//   &__input-wrapper {
//     position: relative;

//     display: block;
//     margin-top: 4px;

//     color: var(--accent-color);
//   }

//   &__input,
//   &__message {
//     width: 100%;

//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     transition: border-color var(--duration) var(--timing-function);
//   }

//   &__input {
//     height: 40px;
//     padding-left: 42px;
//   }

//   &__message {
//     resize: none;
//     height: 120px;
//     margin-top: 4px;
//     padding: 12px 16px;

//     &::placeholder {
//       @include font(inherit, 12px, 14px, 0.01em);
//       color: var(--placeholder-text-color);
//     }
//   }

//   &__input:focus,
//   &__message:focus {
//     outline: none;
//     border-color: var(--accent-color);
//   }

//   &__input-icon {
//     position: absolute;
//     top: 50%;
//     left: 12px;
//     transform: translateY(-50%);
//     transition: fill var(--duration) var(--timing-function);

//     .contact-form__input:focus+& {
//       fill: var(--accent-color);
//     }
//   }

//   &__text-agreement {
//     color: var(--accent-color);
//   }

//   &__checkbox-wrapper {
//     margin-top: 20px;
//   }
// }

// .contact-form__checkbox-label {
//   @extend %alignFlex;
//   cursor: pointer;

//   &::before {
//     content: '';
//     width: 16px;
//     height: 15px;
//     border-radius: 2px;

//     background-image: url(../images/icons/checkbox-off-icon.svg);
//     background-repeat: no-repeat;
//   }

//   ;

//   &>.contact-form__label-text {
//     margin-left: 7px;

//     @include font(inherit, 14px, 24px, 0.03em);
//   }

//   .contact-form__checkbox-input:checked+&::before {
//     background-color: var(--accent-color);
//     background-image: url(../images/icons/checkbox-on-icon.svg);
//   }

//   .contact-form__checkbox-input:focus+&::before {
//     outline: 2px solid var(--accent-color);
//     outline-offset: 2px;
//   }
// }

// .contact-form__submit-btn {
//   display: block;
//   min-width: 200px;
//   padding: 10px 26px;
//   margin-top: 30px;
//   @extend %marginAuto;

//   @include font(700, 16px, 30px, 0.06em);
//   color: var(--primary-white-color);

//   background-color: var(--accent-color);
//   border: none;
//   border-radius: 4px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   transition: background-color var(--duration) var(--timing-function);

//   &:hover,
//   &:focus {
//     background-color: var(--btn-color-hover);
//   }
// }