.contact-list {
  margin-top: 20px;  

  &__item:not(:first-child) {
    margin-top: 9px;
  }

  &__link {
    @include font(400, 14px, 24px, 0.03em);
    font-style: normal;
    color: var(--opacity-text-color);
    transition: color var(--duration) var(--timing-function);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }

  &__link-opacity {
    color: var(--primary-white-color);
  }
}

// screen 1200px+

@media screen and (min-width: 1200px) {
  .contact-list {    
    padding-right: 22px;
  }
}