.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;

  &__btn {
    min-width: 74px;
    padding: 6px 22px;

    @include font(500, 16px, 26px, 0.03em);

    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 4px;
    transition: background-color var(--duration) var(--timing-function),
                      box-shadow var(--duration) var(--timing-function),
                           color var(--duration) var(--timing-function);

    &--current,
    &:hover,
    &:focus {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                  0px 1px 2px rgba(0, 0, 0, 0.08),
                  0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

// screen 768px+

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}