// MOBILE version

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;  

  font-family: var(--main-logo-font-family);
  @include font(700, 0.1px, 0.1px, 0);  
  color: var(--logo-black-color);
  
  &__font-size {
    @include font(inherit, 26px, 30px, 0.03em);    
  }

  &__accent-color {
    color: var(--accent-color);
  }
}

// TABLET version

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }  
}

// DESKTOP version

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 94px;
  }
}