.modal {  
  position: relative;
  
  width: 450px;
  height: auto;
  padding: 40px;
  margin: 0 auto;  

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  @extend %alignFlex;  
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  cursor: pointer;
}

.modal__close-icon {
  transition: fill var(--duration) var(--timing-function);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}

// 0-480px

@media screen and (max-width: 479px) {
  .modal {
    width: 99%;    
  }
}

@media screen and (min-width: 1200px) {
  .modal {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 582px;
  }
}