.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social-list__item {
  width: 44px;
  height: 44px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social-list__link {  
  @extend %alignFlex;  
  width: 100%;
  height: 100%;

  fill: var(--primary-icon-color);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__icon {
  transition: fill var(--duration) var(--timing-function);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--primary-white-color);
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-bottom: 30px;
  }
}