body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);

  background-color: var(--primary-white-color);
}

.section {
  // paddings for MOBILE & TABLET version
  padding-top: 60px;
  padding-bottom: 60px;

  // paddings for DESKTOP version
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
